@import "foundation";

html, body {
  height: 100%;
}

.off-canvas-wrap, .inner-wrap {
  height: 100%;
}

$marker-size: 20px;
$marker-color: grey;

#map {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ur-here {
  text-align: center;

  * {
    display: inline-block;
  }

  .text {
    vertical-align: top;
    line-height: $marker-size;
    font-size: 1.6em;
  }

  .marker {
    height: $marker-size;
    width: $marker-size;
    background-color: $marker-color;
    border-radius: 1000px;
  }
}

