@import "foundation";

html, body {
  height: 100%;
}

.off-canvas-wrap, .inner-wrap {
  height: 100%;
}

.main-section {
  height: 100%;
  overflow: auto;
}

$marker-size: 20px;
$marker-color: grey;

#map {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.panel {
  overflow: auto;
}